
* {
    font-family: "Cinzel", Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f4f4f4; 
    color: #63431e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #ffffff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 20% 20%;
}

header .logo img {
    max-height: 50px;
}


header .nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header .nav ul li {
    margin-left: 10px;
}

header .nav ul li a {
    color: #63431e; 
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
}

header .nav ul li a:hover {
    color: #c08c5d;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    header .nav ul {
        flex-direction: grid;
        align-items: flex-start;
        gap: 10px;
    }

    header .nav ul li {
        margin: 5px 0;
    }
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about-container {
    background-color: #ffffff; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
    color: #63431e; 
}

.about-container h1 {
    margin-bottom: 30px;
    font-size: 32px;
    color: #63431e; 
}

.about-container p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-container a {
    color: #63431e; 
    text-decoration: none;
    font-weight: 900;
}

.about-container a:hover {
    text-decoration: underline;
    color: #c08c5d; 
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #63431e; 
    color: white;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20% 20% 0 0;
}
