
* {
    font-family: "Cinzel", Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f4f4f4; 
    color: #63431e; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 20% 20%;
}

header .logo img {
    max-height: 40px;
}


header .nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.relax {
    margin-top: 30px;
    align-self: center;
}

audio {
    width: 100%; 
    margin: auto;
}

header .nav ul li {
    margin-left: 10px;
    align-self: center;
}

header .nav ul li a {
    color: #63431e; 
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
}

header .nav ul li a:hover {
    color: #c08c5d; 
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    header .nav ul {
        flex-direction: grid;
        align-items: flex-start;
        gap: 10px;
        align-self: center;
    }

    header .nav ul li {
        margin: 5px 0;
        align-self: center;
    }
}




main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.quotes-container {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.quotes-container h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #63431e; 
}

.quote-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quote-card {
    background-color: #ffffff; 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    color: #63431e; 
    text-align: center;
}

.quote-card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.quote-card footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-top: 10px;
}

.quote-card cite {
    font-style: italic;
    color: #e8e2dc; 
    margin-bottom: 10px; 
}

.quote-actions {
    display: flex;
    gap: 10px;
}

.like-button, .copy-button {
    background-color: #63431e; 
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.like-button:hover, .copy-button:hover {
    background-color: #8b5e3c; 
    transform: scale(1.05);
}

.copy-button {
    background-color: #8b5e3c; 
}

.copy-button:hover {
    background-color: #63431e; 
}

.copy-status {
    font-size: 12px;
    color: #8b5e3c;
    display: none;
    margin-top: 5px;
}


.rating {
    display: flex;
    gap: 2px;
}

.rating button {
    background: none;
    border: none;
    display: block;
    color: #f4f2ef;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.3s;
}

.rating button.selected {
    color: #f0a563;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #63431e; 
    color: white;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20% 20% 0 0;
}
